<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p sec:authorize="hasRole('ADMIN')">[이 부분은 운영자(ADMIN)에게만 나타남]</p>
<p sec:authorize="hasRole('USER')">[이 부분은 고객(USER)에게만 나타남]</p>
<p sec:authorize="hasRole('EMP')">[이 부분은 영업사원(EMP)에게만 나타남]</p>
<a href="login">login</a>
<a href="logout">logout</a>
<a href="insert">sign up</a>
<a href="loginafter">after</a>
</body>
</html>