<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p sec:authorize="hasRole('ADMIN')">[이 부분은 운영자(ADMIN)에게만 나타남]</p>
<p sec:authorize="hasRole('USER')">[이 부분은 고객(USER)에게만 나타남]</p>
<p sec:authorize="hasRole('EMP')">[이 부분은 영업사원(EMP)에게만 나타남]</p>

<span sec:authorize = "not isAuthenticated()">
	<a href="login">login</a>
</span>
<span sec:authorize = "isAuthenticated()">
	<a href="logout">logout</a>
</span>
<span sec:authorize = "not isAuthenticated()">
	<a href="insert">sign up</a>
</span>
<span sec:authorize = "isAuthenticated()">
	<a href="loginafter">after</a>
</span>
<!-- 
<a th:href="@{/emp/boardList(id='emp')}">임직원 커뮤니티</a>
<a th:href="@{/notice/boardList(id='notice')}">공지사항</a>
<a th:href="@{/complain/boardList(id='complain')}">민원 게시판</a>  -->
</body>
</html>