<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>사업자 정보 추가</title>
<script>
	function checkValue() {
		
		let businessName = document.getElementById("businessName").value;
		let businessAddress = document.getElementById("businessAddress").value;
		let totalRoom = document.getElementById("totalRoom").value;
		
		
		
		if (businessName === '') {
			alert("상호명이 비어있습니다.");
			document.getElementById("businessName").focus(); 
			return false;
		}
		
		if (businessAddress === '') {
			alert("주소가 비어있습니다.");
			document.getElementById("businessAddress").focus(); 
			return false;
		}
		
		if (totalRoom <1) {
			alert("잘못된 객실 수 입니다.");
			document.getElementById("totalRoom").focus(); 
			return false;
		}
		
	}
</script>
</head>
<body>
<h1>[사업자 정보 추가]</h1>

<form action="/insertBusiness" method="post" onsubmit="return checkValue()">
	<table>
		<tr>
			<th>
				상호명
			</th>
			<td>
				<input type="text" name="businessName" id="businessName">
			</td>
		</tr>
		<tr>
			<th>
				사업장 주소
			</th>
			<td>
				<input type="text" name="businessAddress" id="businessAddress">
			</td>
		</tr>
		<tr>
			<th>
				객실 수
			</th>
			<td>
				<input type="number" name="totalRoom" id="totalRoom">
			</td>
		</tr>
		<tr>
			<th colspan = "2">
				<input type = "submit" value = "정보 추가">
		</tr>
	</table>
</form>
<a href="loginafter">뒤로</a>
</body>
</html>