<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>사업자 정보 추가</title>
</head>
<body>
<h1>[사업자 정보 추가]</h1>

<form action="/insertBusiness" method="post">
	<table>
		<tr>
			<th>
				상호명
			</th>
			<td>
				<input type="text" name="businessName">
			</td>
		</tr>
		<tr>
			<th>
				사업장 주소
			</th>
			<td>
				<input type="text" name="businessAddress">
			</td>
		</tr>
		<tr>
			<th>
				객실 수
			</th>
			<td>
				<input type="number" name="totalRoom">
			</td>
		</tr>
		<tr>
			<th colspan = "2">
				<input type = "submit" value = "정보 추가">
		</tr>
	</table>
</form>
</body>
</html>