<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[LoginAfter]</title>
</head>
<body>
	<!-- 컨텐츠 -->
	<section layout:fragment="content" class="main-content">
		<div>
			<div
				class="emp_cm w-100 d-flex flex-row justify-content-between align-items-center">
				<p style="font-size: 32px; font-weight: 900;">[Notice]</p>
				<a th:href="@{/complain/boardList(id='notice')}">☞목록보긔</a>

			</div>
			<table class=" w-100   ">
				<tr>
					<th class="text-center">제목</th>
					<th class="text-center">작성자</th>
					<th class="text-center">작성일</th>
				</tr>

				<tr th:each="n : ${notice}">
					<td th:text="${n.title}" class="title text-center"></td>
					<td th:text="${n.userId}" class="text-center"></td>
					<td th:text="${n.inputDate}" class="text-center"></td>
				</tr>
			</table>
		</div>
		<br> <br> <br>
		<div sec:authorize="hasAnyRole('ADMIN','EMP')">
			<div
				class="w-100 d-flex flex-row justify-content-between align-items-center">
				<p style="font-size: 32px; font-weight: 900;">[임직원 게시판]</p>
				<a th:href="@{/complain/boardList(id='emp')}">☞목록보기</a>

			</div>
			<table class=" w-100  ">
				<tr>
					<th class="text-center">제목</th>
					<th class="text-center">작성자</th>
					<th class="text-center">작성일</th>
				</tr>

				<tr th:each="e : ${emp}">
					<td th:text="${e.title}" class="title text-center"></td>
					<td th:text="${e.userId}" class="text-center"></td>
					<td th:text="${e.inputDate}" class="text-center"></td>
				</tr>
			</table>
		</div>
	</section>
	
</body>
</html>