<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[내 회원 정보]</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
<style>
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: RGB(221, 38, 22);
  }
</style>
</head>
<body>
<section layout:fragment="content">
<div class="container-fluid p-4">
<div class="px-4">
<h3>내 정보</h3>
<table>
	<tr>
		<th>아이디</th>
		<td th:text="${member.id}"></td>
	</tr>
	<tr>
		<th>이름</th>
		<td th:text="${member.name}"></td>
	</tr>
	<tr>
		<th>이메일</th>
		<td th:text="${member.email}"></td>
	</tr>
	<tr>
		<th>전화번호</th>
		<td th:text="${member.phone}"></td>
	</tr>
</table>
<br><a href="/reauthenticate" class="btn btn-secondary">수정</a>
</div>
</div>
</section>
</body>
</html>