<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>글 수정</title>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-light">
				<a href="/loginafter"
					class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<svg class="bi me-2" width="40" height="32"></svg> <span
					class="fs-4"><img src="/img/logo (2).png" width="100px"></span>
				</a>
			</div>
			<div class="list-group list-group-flush">
				<div sec:authorize="hasAnyRole('ADMIN','EMP')">
					<a href="/infoBusiness"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/hotel.png">
					    </svg> 업체관리
					</a>
				</div>
				<div>
					<a th:href="@{/complain/boardList(id='complain')}"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/complain.png">
					    </svg> 민원게시판
					</a>
				</div>
				<div>
					<a href="#"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/clock.png">
					    </svg> 예약통계
					</a>
				</div>
				<div>
					<a href="#"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/statics.png">
					    </svg> 통계분석
					</a>
				</div>
				<div sec:authorize="hasRole('ADMIN')">
					<a href="/adminapproval"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/user.png">
					    </svg> 회원목록관리
					</a>
				</div>
				<div>
					<a href="/loginafter"
						class="list-group-item list-group-item-action list-group-item-light p-3">
						<svg class="bi pe-none me-1" width="16" height="40">
							<img width="20" src="/img/home.png">
					    </svg> 홈화면
					</a>
				</div>

			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn btn-primary" id="sidebarToggle">Toggle
						Menu</button>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
							<li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
								role="button" data-bs-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" th:text="${#authentication.name}"></a>
								<div class="dropdown-menu dropdown-menu-end"
									aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/memberupdate">회원정보 수정</a> <a
										class="dropdown-item" onclick="confirmLogout()">로그아웃</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#!">Something else here</a>
								</div></li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- Page content-->
			<div class="container-fluid">
				<h1>글 수정하기</h1>
				<form th:action="@{|/${board.boardType}/boardUpdate|}" method="post">
					<input type="hidden" name="boardNum" th:value="${board.boardNum}">
					<table>
						<tr>
							<th>제목</th>
							<td><input th:value="${board.title}" name="title"
								type="text"></td>
						</tr>
						<tr>
							<th>내용</th>
							<td><textarea th:text="${board.content}" name="content"
									rows="5" cols="50"></textarea></td>
						</tr>

						<tr>
							<th colspan="2"><input type="submit" value="수정하기"> <input
								type="button" value="뒤로 가기" onclick="window.history.back()">
							</th>
						</tr>
					</table>
					<input th:value="${board.boardType}" type="hidden" name="boardType">
				</form>

			</div>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="/js/scripts.js"></script>
	<script src="/js/Myscript.js"></script>
</body>
</html>
