<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[글쓰기]</title>
</head>
<body>
	<form action="boardWrite" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<th>제목</th>
				<td>
					<input name = "title" id="title" type = "text">
				</td>
			</tr>
			<tr>
				<th>파일첨부</th>
				<td>
					<input type="file" name="file">
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name = "content" id="content" rows="5" cols="50"></textarea>
				</td>
			</tr>
			<tr>
				<th colspan = "2">
					<input type = "submit" value = "글쓰기">
					<input type = "button" value = "뒤로 가기" onclick="javascript:history.back()">
				</th>
			</tr>
		</table>
		<input type="hidden" value="genal" name="boardType">
	</form>
</body>
</html>