<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.svs.stayvision.dao.BoardDAO">

 <insert id="boardWirte" parameterType="Board">
 	INSERT INTO
 		BOARD (
 			BOARDNUM, 
 			TITLE,
 			CONTENT, 
 			USER_ID,
 			BOARDTYPE
 		<if test="originalFile != null and savedFile != null">
 			,ORIGINALFILE 
 			,SAVEDFILE
 		</if>
 		)
	VALUES (
			BOARD_SEQ.NEXTVAL, 
			#{title}, 
			#{content},
			#{userId},
			#{boardType}
		<if test="originalFile != null and savedFile != null">
			,#{originalFile} 
			,#{savedFile}
		</if>
		)
 </insert>
 
 <select id="boardSelectAll" resultType="Board">
SELECT 
    B.BOARDNUM as BOARDNUM, 
    B.TITLE as TITLE, 
    B.CONTENT as CONTENT,
    B.VIEW_COUNT as viewCount,
    TO_CHAR(B.INPUT_DATE,'YYYY/MM/DD')as inputDate, 
    B.USER_ID as userId,
    COUNT(R.REPLYNUM) AS replyCount,
    B.BOARDTYPE as BOARDTYPE
FROM 
    BOARD B    
LEFT OUTER JOIN 
    REPLY R 
ON 
    B.BOARDNUM = R.BOARDNUM
<where>
	<if test="category eq 'title'">
		B.TITLE LIKE'%'||#{keyword}||'%' AND B.BOARDTYPE = #{boardType}
	</if>
	<if test="category eq 'content'">
		B.CONTENT LIKE'%'||#{keyword}||'%' AND B.BOARDTYPE = #{boardType}
	</if>
	<if test="category eq 'userId'">
		B.USER_ID LIKE'%'||#{keyword}||'%' AND B.BOARDTYPE = #{boardType}
	</if>
	<if test="(category == '' or category == null) and (keyword == '' or keyword == null)">
	    B.BOARDTYPE = #{boardType}
	</if>
</where>    
GROUP BY 
    B.BOARDNUM, B.TITLE, B.CONTENT, B.VIEW_COUNT, B.INPUT_DATE, 
B.USER_ID, B.BOARDTYPE, B.ORIGINALFILE, B.SAVEDFILE, TO_CHAR(B.INPUT_DATE,'YYYY/MM/DD')    
ORDER BY
    B.INPUT_DATE DESC
 </select>
 
 <select id="boardSelect" resultType="Board">
SELECT B.BOARDNUM AS BOARDNUM, 
       B.TITLE AS TITLE, 
       B.CONTENT AS CONTENT, 
       B.VIEW_COUNT AS VIEWCOUNT, 
       TO_CHAR(B.INPUT_DATE, 'YYYY/MM/DD') AS INPUTDATE, 
       B.USER_ID AS USERID,
       B.BOARDTYPE AS BOARDTYPE,
       B.ORIGINALFILE AS ORIGINALFILE,
       B.SAVEDFILE AS SAVEDFILE,
       COUNT(R.REPLYNUM) AS replyCount 
FROM BOARD B 
LEFT OUTER JOIN REPLY R ON B.BOARDNUM = R.BOARDNUM 
WHERE B.BOARDNUM = #{boardNum}
GROUP BY B.BOARDNUM, B.TITLE, B.CONTENT, B.VIEW_COUNT, B.INPUT_DATE, B.USER_ID, B.BOARDTYPE, B.ORIGINALFILE, B.SAVEDFILE, TO_CHAR(B.INPUT_DATE, 'YYYY/MM/DD') 
ORDER BY B.INPUT_DATE DESC
 </select>
 
 <delete id="boardDelete">
 	DELETE 
 	FROM Board
 	WHERE BOARDNUM = #{boardNum}
 </delete>
 
 <update id="boardUpdate" parameterType="Board">
  	UPDATE BOARD
 	SET
 		TITLE = #{title},
 		CONTENT = #{content}
 		<if test="originalFile != null and savedFile != null">
 			,ORIGINALFILE = #{originalFile} 
 			,SAVEDFILE = #{savedFile}
 		</if>
 	WHERE
 		BOARDNUM = #{boardNum}
 </update>
 
 <update id="addBoardViewCount">
   	UPDATE BOARD
 	SET
 		VIEW_COUNT = VIEW_COUNT + 1
 	WHERE
 		BOARDNUM = #{boardNum}
 </update>
 
 <select id = "countBoard" parameterType="Map" resultType = "int">
	SELECT count(*) 
	FROM 
		BOARD
	<where>
		<if test="category eq 'title'">
			TITLE LIKE'%'||#{keyword}||'%' AND BOARDTYPE = #{boardType}
		</if>
		<if test="category eq 'content'">
			CONTENT LIKE'%'||#{keyword}||'%' AND BOARDTYPE = #{boardType}
		</if>
		<if test="category eq 'userId'">
			USER_ID LIKE'%'||#{keyword}||'%' AND BOARDTYPE = #{boardType}
		</if>
		<if test="(category == '' or category == null) and (keyword == '' or keyword == null)">
		    BOARDTYPE = #{boardType}
		</if>
	</where>
</select>

<select id="boardPreview" resultType ="Board">
 	SELECT 
 		TITLE,
 		TO_CHAR(INPUT_DATE,'YYYY/MM/DD') as inputDate,
 		USER_ID as userId
	FROM
		Board
	WHERE
		BOARDTYPE = #{boardType}
	ORDER BY
		INPUT_DATE DESC
</select>
</mapper>




