<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.svs.stayvision.dao.BoardDAO">
 <insert id="empBoardWirte" parameterType="Board">
 	INSERT INTO
 		BOARD (BOARDNUM, TITLE, CONTENT, USER_ID)
	VALUES
		(BOARD_SEQ.NEXTVAL, #{title}, #{content}, #{userId})
 </insert>
 <select id="boardSelectAll" resultType="Board">
 	SELECT 
 		BOARDNUM,
 		TITLE,
 		CONTENT,
 		VIEW_COUNT as viewCount,
 		INPUT_DATE as inputDate,
 		USER_ID as userId
	FROM
		Board
 </select>
</mapper>




