<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.svs.stayvision.dao.BusinessDAO">

 <insert id = "insertBusiness" parameterType="Business">
 
 	INSERT INTO
 		 BUSINESS (BUSINESS_NUM, BUSINESS_NAME, BUSINESS_ADDRESS, TOTAL_ROOM, USER_ID, PHONE)
 	VALUES
 		(BUSINESS_SEQ.NEXTVAL ,#{businessName}, #{businessAddress}, #{totalRoom}, #{userId}, #{phone})
 </insert>
 
 <select id = "findOneBusiness" parameterType="int" resultType="Business">
 SELECT
    b.business_num as businessNum,
    b.business_name as businessName,
    b.business_address as businessAddress,
    b.total_room as totalRoom,
    user_id as userId,
    m.phone as phone,
    m.user_name as name
 FROM
    member m join business b using(user_id)
 where
    b.business_num = #{businessNum}
 </select>
 
 <select id="selectBusiness" resultType="Business">
 SELECT
    b.business_num as businessNum,
    b.business_name as businessName,
    b.business_address as businessAddress,
    b.total_room as totalRoom,
    user_id as userId,
    b.phone as phone,
    m.user_name as name
 FROM
    member m join business b using(user_id)
 where
    user_id = #{id}
 order by
    businessNum
 </select>
 
 <select id="selectBusinessAll" resultType="Business">
 SELECT
    b.business_num as businessNum,
    b.business_name as businessName,
    b.business_address as businessAddress,
    b.total_room as totalRoom,
    user_id as userId,
    b.phone as phone,
    m.user_name as name
 FROM
    member m join business b using(user_id)
 order by
    businessNum
 </select>
 
 <update id="updateBusiness" parameterType="Business">
 UPDATE BUSINESS
 SET
    business_name = #{businessName},
    business_address = #{businessAddress},
    total_room = #{totalRoom},
    PHONE = #{phone}
 where 
    business_num = #{businessNum}
 
 
 </update>
 
</mapper> 




