<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.svs.stayvision.dao.MemberDAO">
 <insert id = "insertMember" parameterType="Member">
 
 	INSERT INTO
 		 MEMBER (USER_ID, USER_PW, USER_NAME, EMAIL, PHONE, ROLENAME, USER_NUM)
 	VALUES
 		(#{id},#{pw},#{name},#{email},#{phone}, #{roleName}, MEMBER_SEQ.NEXTVAL)
 </insert>
 
 <select id="selectAllMember" resultType="Member">
 
 SELECT 
 	USER_ID as id,
 	USER_NAME as name,
 	ROLENAME as roleName 
 FROM 
 	MEMBER 
 ORDER BY 
 	ROLENAME
  
 </select>
 
</mapper>




