<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.svs.stayvision.dao.ReplyDAO">
 
 <insert id="insertReply" parameterType="Reply">
	INSERT INTO
		REPLY(REPLYNUM, REPLYTEXT, USER_ID, BOARDNUM)
	VALUES
		(REPLY_SEQ.NEXTVAL,#{replyText},#{userId},#{boardNum})
</insert>
<!-- 댓글 조회하기(1) : 글 하나에 달려 있는 댓글 다 가져오기 -->
<select id="findReplyByBoardNum" parameterType="int" resultType="Reply">
	SELECT
		REPLYNUM,
		REPLYTEXT,
		BOARDNUM,
		USER_ID as userId,
		INPUT_DATE as inputDate
	FROM 
		REPLY
	WHERE 
		BOARDNUM = #{boardNum}
	ORDER BY INPUT_DATE ASC
</select>
<!-- 댓글 조회하기(2) : 하나의 댓글 정보 가져오기 -->
<select id="findReplyByReplyNum" parameterType="int" resultType="Reply">
	SELECT
		REPLYNUM,
		REPLYTEXT,
		BOARDNUM,
		USER_ID as userId,
		INPUT_DATE as inputDate
	FROM 
		REPLY
	WHERE 
		REPLYNUM = #{replyNum}
</select>
<!-- 댓글 수정하기 -->
<update id="updateReply" parameterType="Reply">
	UPDATE REPLY
	SET REPLYTEXT = #{replyText}
	WHERE REPLYNUM = #{replyNum}
</update>
<!-- 댓글 삭제하기 -->
<delete id="deleteReply" parameterType="int">
	DELETE FROM REPLY
	WHERE REPLYNUM = #{replyNum}
</delete>
</mapper>




