<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<th>글 번호</th>
		<th>제목</th>
		<th>작성자</th>
		<th>작성일시</th>
		<th>조회수</th>
	</tr>
	<tr th:each = "b : ${blist}">
		<td th:text = "${b.boardNum}"></td>
		<td>
			<a th:href="@{/read(boardNum=${b.boardNum})}">
				<span th:text = "${b.title}"></span>
			</a>
		</td>
		<td th:text = "${b.userId}"></td>
		<td th:text = "${b.inputDate}"></td>
		<td th:text = "${b.viewCount}"></td>
	</tr>
</table>
	<a href="boardWrite">글쓰기</a>
</body>
</html>