<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[사업자 정보 추가]</title>
<script>
	function checkValue() {
		
		let businessName = document.getElementById("businessName").value;
		let businessAddress = document.getElementById("businessAddress").value;
		let totalRoom = document.getElementById("totalRoom").value;
		let phone = document.getElementById("phone").value;
		
		
		
		if (businessName === '') {
			alert("상호명이 비어있습니다.");
			document.getElementById("businessName").focus(); 
			return false;
		}
		
		if (businessAddress === '') {
			alert("주소가 비어있습니다.");
			document.getElementById("businessAddress").focus(); 
			return false;
		}
		
		if (totalRoom <1) {
			alert("잘못된 객실 수 입니다.");
			document.getElementById("totalRoom").focus(); 
			return false;
		}
		
		if (phone === '') {
			alert("전화번호가 비어있습니다.");
			document.getElementById("phone").focus(); 
			return false;
		}
		
	}
</script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<section layout:fragment="content">
<h1>[사업자 정보 추가]</h1>
<div sec:authorize="hasRole('USER')">
	<form action="/insertBusiness" method="post" onsubmit="return checkValue()">
		<table>
			<tr>
				<th>
					상호명
				</th>
				<td>
					<input type="text" name="businessName" id="businessName">
				</td>
			</tr>
			<tr>
				<th>
					사업장 주소
				</th>
				<td>
					<input type="text" name="businessAddress" id="businessAddress">
				</td>
			</tr>
			<tr>
				<th>
					객실 수
				</th>
				<td>
					<input type="number" name="totalRoom" id="totalRoom">
				</td>
			</tr>
			<tr>
				<th>
					사업장 전화번호
				</th>
				<td>
					<input type="text" name="phone" id="phone">
				</td>
			</tr>
			<tr>
				<th colspan = "2">
					<input type = "submit" value = "정보 추가">
				</th>
			</tr>
		</table>
	</form>
	<a href="memberupdate">뒤로</a>
</div>
</section>
</body>
</html>