<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[사업자 정보 추가]</title>
<style>
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: RGB(221, 38, 22);
  }
  
  table {
  border-collapse: separate;
  font-size: 13pt;
  text-align: center;
  border-spacing: 10px;
  box-sizing: border-box;
  }

  .line{
  width:23vw;
  border:1px solid #dcdac2;
  text-align: center;
  }

  table th {
  border: 1px solid #dcdac2;
  background-color: #C8D7FF;
  border-spacing: 10px;
  }
  
  table td {
  padding: 5px;
  border-spacing: 10px;
  }
  
</style>
<script>
	function checkValue() {
		
		let businessName = document.getElementById("businessName").value;
		let businessAddress = document.getElementById("businessAddress").value;
		let totalRoom = document.getElementById("totalRoom").value;
		let phone = document.getElementById("phone").value;
		
		
		
		if (businessName === '') {
			alert("상호명이 비어있습니다.");
			document.getElementById("businessName").focus(); 
			return false;
		}
		
		if (businessAddress === '') {
			alert("주소가 비어있습니다.");
			document.getElementById("businessAddress").focus(); 
			return false;
		}
		
		if (totalRoom <1) {
			alert("잘못된 객실 수 입니다.");
			document.getElementById("totalRoom").focus(); 
			return false;
		}
		
		if (phone === '') {
			alert("전화번호가 비어있습니다.");
			document.getElementById("phone").focus(); 
			return false;
		}
		
	}
</script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<section layout:fragment="content">
<div sec:authorize="hasRole('USER')" class="container-fluid p-4">
	<div class="px-4">
	<form action="/insertBusiness" method="post" onsubmit="return checkValue()" class="line">
		<h4>사업자 정보 추가</h4>
		<table>
			<tr>
				<th>
					상호명
				</th>
				<td>
					<input type="text" name="businessName" id="businessName" class="form-control">
				</td>
			</tr>
			<tr>
				<th>
					사업장 주소
				</th>
				<td>
					<input type="text" name="businessAddress" id="businessAddress" class="form-control">
				</td>
			</tr>
			<tr>
				<th>
					객실 수
				</th>
				<td>
					<input type="number" name="totalRoom" id="totalRoom" class="form-control">
				</td>
			</tr>
			<tr>
				<th>
					사업장 전화번호
				</th>
				<td>
					<input type="text" name="phone" id="phone" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan = "2">
					<input type = "submit" value = "정보 추가" class="form-control">
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>
</section>
</body>
</html>