<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>[사업자 정보 수정]</title>

<script>
	function checkValue() {
		
		let nameValue = document.getElementById("name").value;
		let businessName = document.getElementById("businessName").value;
		let businessAddress = document.getElementById("businessAddress").value;
		let totalRoom = document.getElementById("totalRoom").value;
		let phone = document.getElementById("phone").value;
		
		if (nameValue === '') {
			alert("대표자명이 비어있습니다.");
			document.getElementById("name").focus(); 
			return false;
		}
		
		if (nameValue.length < 2 || nameValue.length > 8) {
			alert("잘못된 이름입니다.");
			document.getElementById("name").focus(); 
			return false;
		}
		
		if (businessName === '') {
			alert("상호명이 비어있습니다.");
			document.getElementById("businessName").focus(); 
			return false;
		}
		
		if (businessAddress === '') {
			alert("주소가 비어있습니다.");
			document.getElementById("businessAddress").focus(); 
			return false;
		}
		
		if (totalRoom <1) {
			alert("잘못된 객실 수 입니다.");
			document.getElementById("totalRoom").focus(); 
			return false;
		}
		
		if (phone === '') {
			alert("전화번호가 비어있습니다.");
			document.getElementById("phone").focus(); 
			return false;
		}
		
	}
</script>
<!-- Core theme CSS (includes Bootstrap)-->
<link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
<section layout:fragment="content">
<div class="container-fluid px-5 pt-4">
<form action="/updateBusiness" method="post" onsubmit="return checkValue()">
	<table>
		<tr>
			<td colspan="2">
				<input type="hidden" name="businessNum" id="businessNum" th:value="${business.businessNum}" class="form-control" readonly/>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="hidden" name="userId" id="userId" th:value="${business.userId}" class="form-control" readonly/>
			</td>
		</tr>
		<tr>
			<th>
				대표자명
			</th>
			<td>
				<input type="text" name="name" id="name" th:value="${business.name}" class="form-control">
			</td>
		</tr>
		<tr>
			<th>
				연락처
			</th>
			<td>
				<input type="text" name="phone" id="phone" th:value="${business.phone}" class="form-control">
			</td>
		</tr>
		<tr>
			<th>
				상호명
			</th>
			<td>
				<input type="text" name="businessName" id="businessName" th:value="${business.businessName}" class="form-control">
			</td>
		</tr>
		<tr>
			<th>
				사업장 주소
			</th>
			<td>
				<input type="text" name="businessAddress" id="businessAddress" th:value="${business.businessAddress}" class="form-control">
			</td>
		</tr>
		<tr>
			<th>
				객실 수
			</th>
			<td>
				<input type="number" name="totalRoom" id="totalRoom" th:value="${business.totalRoom}" class="form-control">
			</td>
		</tr>
		<tr>
			<th colspan = "2" style="text-align: center;">
				<input type = "submit" value = "정보 수정">
			</th>
		</tr>
	</table>
</form>
</div>
</section>
</body>
</html>